// Header SCSS

#header {

	padding-bottom: 20px;
	bottom: 0;

    nav {
	
		ul{
			float: right;
			padding-top: 20px;
		}

    	li {
			float: left;
			list-style: none;
		}
		
		a, a:hover, a:active{
			color: $navAnchorColor;
			text-decoration: none;
		}

		a:visited{
			@extend a;
		}

		a:hover{
			color: $navAnchorHoverColor;
		}
	
	}

	h1{
		
		@include h-style($h1Color, $h1Padding, $h1fontWeight, $h1FontSize);
		border-bottom: 4px solid $h1Color;
	}
	


}// #header