// Header SCSS

#header {

	padding-bottom: 20px;
	bottom: 0;

    nav {
	
		ul{
			float: right;
			padding-top: 15px;
		}

    	li {
			float: left;
			list-style: none;
		}
		
		a, a:visited, a:hover, a:active{
			color: $navAnchorColor;
			text-decoration: none;
		}

	
	}

	h1{
		
		font-weight: 700;
		font-size: 40px;
		color: $h1Color;
		
	}


}// #header