

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

div.bannerContainer h1{
    position: absolute;
    z-index: 1000;
    color: white;
}















